* {
  margin: 0;
  padding: 0;
  font: sans-serif;
}

html {
  font-family: 'SFThonburi-Regular', sans-serif;
}

h1 {
  font-family: 'SFThonburi-Bold', sans-serif;
}
h2 {
  font-family: 'SFThonburi-Semibold', sans-serif;
}
h3 {
  font-family: 'SFThonburi-Semibold', sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "SFThonburi-Regular";
  src: url(../assets/font/SFThonburi-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "SFThonburi-Semibold";
  src: url(../assets/font/SFThonburi-Semibold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "SFThonburi-Bold";
  src: url(../assets/font/SFThonburi-Bold.ttf) format('truetype');
  font-weight: bolder;
}

.container {
  width: 100%;
  /* min-height: 100vh; */
  /* padding-left: 8%;
    padding-right: 8%; */
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}

.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px;
}

.sign {
  width: 100px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  background: #ffffff;
  color: #616161;
  border-radius: 10px;
  border: none;
  margin: 30px;

}

.sign:hover{
  background: #f3f3f3;
}

.section-one {
  height: 500px;
  /* width: 100vh; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../assets/banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  padding: 100px 30px 30px 30px;

}

.section-one-container {
  text-align: center;
  margin-bottom: 150px;
}

.section-one-container h1 {
  font-family: 'SFThonburi-Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;

}

.text {
  /* width: 200px; */
  color: white;
  font-size: 12px;
}

.ctn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px 15px 30px;
  background: #336CE9;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.ctn:hover{
  background: #285fd3;
}

/* 2 */
.section-two {
  display: flex;
  /* height: 568px; */
  background-color: #161C2D;
}

.section-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin: 80px auto; */
  /* background-color: peachpuff; */
  color: white;
}

.pic-box {
  width: 100%;
  background-size: contain;
  /* background-color: rgba(15, 56, 95, 1); */
  /* height: 295px; */
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}


.text-box h1 {
  margin-bottom: 20px;
}

/* section-4 */
.section-three {
  /* height: 80vh; */
  background-color: #f5f5f5;
  display: flex;
  /* padding: 80px auto; */
  justify-content: center;
  /* background-image: url(./assets/salepage.png); */
}

.section-three-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  /* padding: 50px; */
  /* margin: 80px auto; */
  background-color: rgb(255, 255, 255);
  padding: 30px;
  /* border-radius: 10px; */
}

.section-three-container h1 {
  margin-bottom: 10px;
}

.section-three-container p {
  margin-bottom: 30px;
}


/* 4 */
.section-four {
  /* height: auto; */
  padding: 100px auto 100px auto;
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;
  color: #161C2D;
}

.section-four img {
  width: 240px;
  height: 240px;
  background: #f3f3f3;
  border-radius: 30px;
  object-fit: cover;
}

.section-four h1 {
  margin-bottom: 30px;
}

.section-four-container {
  padding-top: 40px;
  justify-content: center;
  padding-bottom: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  row-gap: 40px;
}


/* 5 */
.section-five {
  height: auto;
  padding: 100px auto 100px auto;
  text-align: center;
  width: 100%;
  background-color: #161C2D;

}

.section-five img {
  width: 242px;
  height: 476px;
  background: #ffc24c;
  border-radius: 20px;
  margin: 30px;
}

.section-five h1 {
  /* margin: 70px auto 20px auto; */
  color: white;
  
}

.section-five-container {
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 100px;
}
.plan{
  display: block;
}
.plan-box{
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  width: 175px;
  height: 250px;
  text-align: left;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


@media (min-width: 600px) {
  .section-two-container {
    padding: 100px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .pic-box {
    height: 300px;
    width: auto;
    background-size: cover;
  }

  .section-three-container {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* margin: 80px auto; */
    background-color: rgb(255, 255, 255);
    padding: 60px;
    border-radius: 20px;
  }

  .section-three {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .plan{
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .section-two-container {
    display: flex;
    flex-direction: row;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-box {
    /* margin: 40px ; */
    padding-left: 50px;
    /* width: 100%; */
  }

  .section-three-container {
    width: 925px;
  }

}

@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}